@tailwind base;
@tailwind components;
@tailwind utilities;


/* Custom toast notification style */
.Toastify__toast {
  background-color: #fff;
  color: #333;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-family: 'Space Grotesk', sans-serif;
  padding: 16px;
}

.Toastify__toast--info {
  background-color: #f0f8ff;
  color: #0056b3;
}

.Toastify__toast--success {
  background-color: #e6ffed;
  color: #28a745;
}

.Toastify__toast--warning {
  background-color: #fff3cd;
  color: #856404;
}

.Toastify__toast--error {
  background-color: #f8d7da;
  color: #721c24;
}

.Toastify__toast-body {
  font-size: 16px;
}

/* .Toastify__progress-bar {
  background-color: #a72892;
  border-radius: 0 0 12px 12px;
} */
