@tailwind base;
@tailwind components;
@tailwind utilities;


/* Override Toastify styles to fit the design */
.Toastify__toast-container {
    font-family: 'Roboto', sans-serif; /* Tailwind font or your choice */
  }
  
  .Toastify__toast {
    background-color: #ffffff; /* Use Tailwind colors or your choice */
    color: #333333; /* Text color */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  }
  
  .Toastify__toast--info {
    border-left: 4px solid #3490dc; /* Tailwind blue-500 */
  }
  
  .Toastify__toast--success {
    border-left: 4px solid #38c172; /* Tailwind green-500 */
  }
  
  .Toastify__toast--error {
    border-left: 4px solid #e3342f; /* Tailwind red-500 */
  }
  
  .Toastify__toast--warning {
    border-left: 4px solid #ffed4a; /* Tailwind yellow-300 */
  }
  
  .Toastify__close-button {
    color: #333; /* Close button color */
  }
  